body {
  margin:0;
  background:rgba(0,0,0,0);
  font-family:sans-serif;
}

.panel {
  display:flex;
  width:100%;
  height:100%;
  background:rgba(255,255,255,0.9);
  border-radius:15px;
}

.left {
  width:30%;
  background:#4aa8ff;
  color:#fff;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.type {
  font-size:60px;
  font-weight:bold;
}

.center {
  flex:1;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.next {
  font-size:50px;
}

.right {
  width:30%;
  background:#111;
  color:#fff;
  padding:20px;
}
